@use "sass:map";

$spacings: (
	"none": 0,
	"xs": 0.25rem,
	"sm": 0.5rem,
	"md": 1rem,
	"lg": 1.5rem,
	"xl": 3rem,
);

@each $key, $value in $spacings {
	.p-#{$key} {
		padding: $value;
	}

	.pt-#{$key} {
		padding-top: $value;
	}

	.pb-#{$key} {
		padding-bottom: $value;
	}

	.pl-#{$key} {
		padding-left: $value;
	}

	.pr-#{$key} {
		padding-right: $value;
	}
}
