@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.add-drink {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: map.get(v.$spacings, "xxl");

	&__shortcuts {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		& span {
			padding: 1rem;
			background-color: antiquewhite;
		}
	}

	&__input {
	}
	&__list {
		@include mix.ul();
	}

	&__list-item {
		@include mix.li();
	}

	&__list-item-caffeine {
		margin-left: auto;
	}
}
