@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.add-drink {
	@include mix.flex();
	flex-direction: column;
	gap: map.get(v.$spacings, "lg");

	max-width: map.get(v.$max-widths, "md");

	.add-drink__list {
		@include mix.ul();
		border-radius: 0;
	}

	.add-drink__list-item {
		@include mix.li();
	}

	.add-drink__list-item-caffeine {
		margin-left: auto;
	}
}
