@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.error {
	width: 100%;
	text-align: center;
	background-color: map.get(v.$colors, "bg-error");
	border-bottom: 2px solid #fee2e2;
	padding: 2rem 2rem;
	box-shadow: 0 4px 12px map.get(v.$colors, "bg-error");
	&__description {
		font-weight: 500;
	}
}
