@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.intake {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: map.get(v.$spacings, "xxl");

	&__title {
		margin-right: auto;
		margin-bottom: map.get(v.$spacings, "md");
		padding-left: map.get(v.$spacings, "md");
	}
}

.intake__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;

	.intake-card {
		width: 100%;
		padding: map.get(v.$spacings, "lg");
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background-color: white;

		border-radius: map.get(v.$border-radius, "sm");
	}

	.intake__list-item-time {
		margin-left: auto;
	}
}
