@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.intake {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: map.get(v.$spacings, "xxl");

	&__title {
		margin-right: auto;
		margin-bottom: map.get(v.$spacings, "md");
		padding-left: map.get(v.$spacings, "md");
	}
}
