@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.login {
	&__form {
		display: flex;
		flex-direction: column;
		padding: map.get(v.$spacings, "md");
	}

	.form-group {
		margin-bottom: map.get(v.$spacings, "lg");

		.login__input {
			@include mix.card;
			border: none;
			margin-top: 10px;

			&:focus {
				outline: 2px solid;
				outline-color: map.get(v.$colors, "primary");
			}
		}

		& select {
			background-color: map.get(v.$colors, "bg-secondary");
		}
	}
}
