@use "../abstracts/variables" as v;
@use "sass:map";

.nav {
	width: 100vw;
	height: 60px;
	position: fixed;
	bottom: 0;

	&__container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: map.get(v.$colors, "bg-secondary");
	}

	&__item {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		flex: 1;

		transition: background-color 0.2s;
		color: map.get(v.$colors, "primary");

		&:active {
			color: map.get(v.$colors, "secondary");
			background-color: map.get(v.$colors, "primary");
		}
	}
}
