@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.header {
	@include mix.flex(space-between);
	width: 100%;
	box-shadow: map.get(v.$box-shadows, "md");
	padding: map.get(v.$spacings, "md");
	.header__logo {
		font-size: map.get(v.$font-sizes, "xl");
	}

	.header__btn-add-drink {
		color: black;
	}
}
