@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;

.main-view {
	height: 100dvh;
	padding: map.get(v.$spacings, "md");

	display: flex;
	flex-direction: column;
}
